@import 'nib'

normalize-css()

antialiased()
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*
*:before
*:after
  box-sizing border-box

.header
  padding-bottom 1rem


body
  // antialiased()
  margin 1.25rem
  background-color white
  color black
  font-size 1rem;
  font-family sans-serif
  line-height 1.3
  background-color yellow

a
  text-decoration none
  color #000

.container
  max-width 35rem
  margin 0 auto
  clearfx();

p
  margin 0 0 1em
  line-height 1.325
  color #333

h1
  font-size 1.25em

img
  max-width 100%
  height auto

nav ul
  list-style none
  margin 0
  padding 0
  overflow auto

nav ul li
  float left
  margin-right 0.6em