doctype html
html
  head
    title Seinfield Wikipedia Example

    link( rel='stylesheet', href= '/css/styles.css' )

  body
    include partials/header

    .container( id='main' )

      a( href='#' )
        img( src= '/img/len-lesser.jpg' )

      h1 Uncle Leo

      h2 Hello!

      p Uncle Leo is a fictional character portrayed by Len Lesser in the American sitcom Seinfeld. He is Jerry Seinfeld's uncle. He made his debut in the second-season episode "The Pony Remark" and appeared in at least one episode in each of the additional seasons through the show's nine-season run.
      p On the 25th anniversary of the show's debut, <a href="#">Rolling Stone</a> ranked Uncle Leo as No. 6 on its list of "100 Best Seinfeld Characters," behind only Newman at No. 5 and the four main characters: Jerry, Kramer, Elaine and George.

    script( src= '/js/all.min.js' )